@{
    ViewBag.Title = "About Us";
}

<div class="container text-center"><h2>@ViewBag.Title</h2></div>

<div class="section-green">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Located Near Washington, D.C.</h2>
                <p>
                    Mason’s main campus is in Fairfax, Virginia, just 15 miles outside of Washington, D.C.
                    The nation’s capital is easily accessible by car or public transportation.
                </p>
                <p>
                    At Mason, you can enjoy the best of both worlds: a beautiful wooded residential campus
                    and outstanding college experience, as well as numerous internship and recreational opportunities
                    that only a world-class urban setting like D.C. can offer.
                </p>
                <p>
                    You can intern with National Geographic or the Justice Department, visit the numerous museums with
                    your Art History classmates, take a selfie in front of Lincoln Memorial, catch a Nationals baseball game,
                    kayak along the Potomac, or check out the many neighborhoods where you’ll discover lots of great shopping,
                    places to eat, art galleries, music venues, and much more. You’ll run out of time before you run out of things to do.
                </p>
            </div>
        </div>
    </div>
</div>

    <div class="section-image2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>We Have Three Campuses</h2>
                    <h3>Fairfax</h3>
                    <p>
                        The Fairfax Campus consists of 677 wooded acres and is the principal center for undergraduate residence and life.
                        The on-campus population is currently more than 6,000 and is expected to grow to 7,000 as new residential units
                        are constructed. Our Fairfax Campus is also home to the Center for the Arts and the EagleBank Arena where numerous
                        sporting and entertainment events take place year round.
                    </p>
                    <h3>Arlington</h3>
                    <p>
                        Our most urban campus is in Arlington. It consists of three main buildings and is where the School of Law, the School
                        of Policy, Government and International Affairs, and the School for Conflict Analysis and Resolution are located.
                        Most of the programs offered are at the graduate and professional levels.
                    </p>
                    <h3>Science &amp; Technology</h3>
                    <p>
                        Serving all of Northern Virginia, the George Mason University Science and Technology Campus in Prince William County
                        primarily focuses on research and academic programs in the life sciences, including bioscience, biotechnology and
                        bioinformatics. The campus features a state-of-the-art Biomedical Research Laboratory and the recently launched Institute
                        for Advanced Biomedical Research, a multidisciplinary facility that will pursue some of the toughest medical questions
                        facing society.
                    </p>
                </div>
            </div>
            </div>
    </div>
        <div class="section-yellow">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Diversity Lives Here.</h2>
                <p>
                    Named one of the most diverse public universities in the country by U.S. News & World Report, we serve students of
                    all ages, nationalities and backgrounds. We enroll nearly 34,000 students from 130 countries and all 50 states.
                    Walk around campus and you will hear many different languages being spoken, from Arabic to Zulu.
                </p>
                <h2>Mason Nation Extends Around the Globe</h2>
                <p>
                    Located 25 miles from Seoul, in the town of Songdo, the Mason Korea campus accommodates 2,000 students and
                    includes world-class teaching facilities, a library with state-of-the-art technology, a performing arts center,
                    comfortable residence halls, faculty apartments and guest housing.
                </p>
                <p>
                    Mason Korea students come from throughout East and Southeast Asia and beyond, including students from our
                    Fairfax Campus. Mason Korea students spend their first and second year in Songdo, third year in the United States,
                    and the final year in Songdo. U.S. students are also permitted to spend one or two semesters in Songdo.
                </p>
            </div>
        </div>

    </div>
</div>
<div class="section-green">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Ready to Become a Patriot?</h2>
                <p class="lead">Join Us Today</p> <p><a href="/Home/Apply" class="btn btn-default apply">Apply Now &raquo;</a></p>
            </div>
        </div>
    </div>
</div>