@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container text-center center-vert">
        <h1 id="home-head">George Mason University</h1>
        <h2>
            Admissions
        </h2>
        <p class="lead">Prospective Student?</p>
        <p><a href="/Home/Apply" class="btn btn-primary btn-lg">Apply Now &raquo;</a></p>
    </div>
</div>
<div class="section-green">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Who We Are</h2>
                <p>
                    Mason is a young university that, in just a short time, has made impressive strides in size, stature and influence.
                    Today, as Virginia’s largest public research university, we are setting the benchmark for a bold, progressive education
                    that serves the needs of our students and communities. To that end, we have 10 schools and colleges devoted to a variety
                    of areas of study.
                </p>
            </div>
            </div>
        <div class="row facts">
            <div class="col-lg-4">
                <h2>34,000 Students</h2>
            </div>
            <div class="col-lg-4">
                <h2>80% Employed</h2>
            </div>
            <div class="col-lg-4">
                <h2>130 Countries of Origin</h2>
            </div>
        </div>
    </div>
</div>

<div class="section-yellow">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <p>
                    <img id="patriot-img" class="img-responsive" src="~/images/patriotism.jpg" />
                </p>
            </div>
            <div class="col-lg-5">
                <h2>George Mason: Patriotism Personified.</h2>
                <p>
                    George Mason, for whom our university is named, was one of the greatest of the founding fathers of the United States. 
                    Mason drafted the Virginia Declaration of Rights, which became a model for the first 10 amendments to the U.S. Constitution, 
                    known as the Bill of Rights.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section-image">
    <div class="container center-vert">
        <div class="row">
            <div class="col-lg-8">
                <h2>We Are In Virginia. But We Serve The World.</h2>
                <p>
                    Mason is committed to creating a more just, free and prosperous world. Located in one of the most important political,
                    economic and intellectual hubs in the world, we accept our responsibility to serve others: to help our students succeed,
                    enrich the life of our community, and contribute to solving some of the most complex global problems of our time.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section-green">
    <div class="container"> 
        <div class="row">
            <div class="col-lg-12">
                <h2>Ready to Become a Patriot?</h2>
                <p class="lead">Join Us Today</p> <p><a href="/Home/Apply" class="btn btn-default apply">Apply Now &raquo;</a></p>
            </div>
        </div>
    </div>
</div>